
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link data-th-href="@{/css/main.css}" rel="stylesheet">
  <meta charset="ISO-8859-1">
  <title>Employee</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/convert}" th:object="${object}"
      method="post" class="col-md-4 fw-light">
    <tr>
        <td>
            <textarea type="text" id="message" name="message" th:field="*{message}"></textarea>

        </td>
        <td>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </td>
    </tr>

</form>
</body>
</html>